.container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.container block {
    margin: 0;

}

h2 {
    text-align: center;
}